body {
margin: 0;
font-family: sans-serif;
background: #111;
color: white;
text-align: center;
}

header {
background: #000;
padding: 15px;
font-size: 20px;
box-shadow: 0 2px 5px #000;
}

main {
padding: 20px;
}

.card {
  background: #222;
  padding: 20px;
  border-radius: 10px;
}

a {
display: inline-block;
margin-top: 10px;
padding: 10px;
border-radius: 10px;
text-decoration: none;
color: white;
}

.play {
background: green;
}

.download {
background: blue;
}
